name: Python code quality

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'

  pull_request:
    branches: [ main ]
    paths:
      - '**.py'

  workflow_dispatch:

permissions:
  contents: read

jobs:
  checks-format-and-lint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - name: Set up Python 3
          uses: actions/setup-python@v5
          with:
            python-version: "3.12"
            cache: 'pip'
        - name: Install dependencies
          run: |
            python3 -m pip install --upgrade pip
            python3 -m pip install ruff
        - name: Lint with ruff
          run: ruff check .
        - name: Check formatting with ruff
          run: ruff format . --check
